*{
	padding: ;
	margin: ;
}
body{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/img.jpg);
	height: 100%;
	background-size: cover;
	background-position: ;
}
.nav ul li{
	display: inline-block;
	padding-left: 50px;
	font-size: 18px;

}
.nav ul{
	margin-left:;
	margin-top: 20px;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}
.nav{
	position: fixed;
	width: 100%;
	height: 70px;
	margin: auto;
	background-image: linear-gradient(rgba(0, 0, 0, 1.0),rgba(0, 0, 0, 1.0));
}
.nav ul li a:hover{
	color: yellow;
	
}
#active{
	color: yellowgreen;
}

header{
	width: ;
	float: right;
	height: 70px;
}
ul{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
#contenus{
	width: 1200px;
	top: 10%;
	left: 10%;
	height: auto;
	margin: auto;
	color: white;
	position: absolute;
}
#contenus p{
	padding-left: 80px;
	padding-bottom: 25px;
	font-family: Arial;
	letter-spacing: 1.2px;
	line-height: 30px;
}
#contenus h1{
	font-family: 'Times New Roman';
	font-size: 50px;
	padding-left: 80px;
	margin-top: 9%;
	letter-spacing: 2px;
}
#contenus h3{
	font-family: 'Times New Roman';
	font-size: 30px;
	padding-left: 80px;
	margin-top: 2 %;
	letter-spacing: 2px;
}
#contenus img{
	width: 400px;
	border: 0px solid black;
	border-radius: 30px;
}
#contenus td{
	margin-right: 10px;
}
.form .input,textarea{
	width: 400px;
	height: 35px;
	border-bottom: 1px solid orange;
	border-top:none;
	border-right: none;
	border-left: none;
	color: black;
	font-size: 15px;
	letter-spacing: 1px; 
	margin-top: 30px;
	font-family: sans-serif;
	padding-left: 10px;
	border-radius: 10px;
	
}
.form input:focus{
	border: ;
}
.form{
	margin-left: 30%;
	background-image: linear-gradient(rgba(0, 0, 0, 1.0),rgba(0, 0, 0, 1.0));
	width: 500px;
	padding: 20px;
	margin-bottom: 100px;
}
.form td{
	padding-top: 4px;
}
table{
	padding: 30px;
}
#plat img{
	height: 300px;
}